<template>
    <div class="quick-post">
        <div class="row">
            <div class="col-md-12">
                <vue-alert></vue-alert>
                <h1>Quick Post form</h1>
                <form v-on:submit.prevent="onSubmit">
                    <div class="form-group">
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" type="text" v-model="post_title" required aria-required="true">
                    </div>
                    <div class="form-group">
                        <label for="category" class="form-label">Category</label>
                        <input class="form-control" type="text" v-model="category">
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" v-model="post_content" rows="8" cols="20"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="trivia" class="form-label">Random Trivia</label>
                        <input class="form-control" type="text" v-model="trivia">
                    </div>
                    <div class="form-group">
                        <label for="link" class="form-label">External Link</label>
                        <input class="form-control" type="text" v-model="link">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit">
                    </div>
                </form>

                <a class="btn btn-primary" href="/">Return Home</a>
            </div> <!-- ./col -->
        </div> <!-- ./row -->
    </div>
</template>
  
<script>
	import axios from 'axios';    

    axios.defaults.headers.common['X-WP-Nonce'] = wp_api_vuejs.nonce;
	
    export default {
        components: {

        },

        mounted() {
            console.log('Component mounted.');
            this.$alert.hide();
        },

        data() {
        	return {
                postsUrl: wp_api_vuejs.api_base_url + '/wp-json/wp/v2/posts',
	        	categoriesUrl: wp_api_vuejs.api_base_url + '/wp-json/wp/v2/categories',
                post: null,
                category: null,
                post_title: null,
                post_content: null,
                trivia: null,
                link: null,
        	}
        },

        methods: {
            onSubmit() {
                axios.post(this.postsUrl, {
                    title: this.post_title,
                    content: this.post_content,
                    status: 'publish',
                    meta: {
                        'trivia': this.trivia,
                        'link': this.link,
                    },
                    trivia: this.trivia,
                    link: this.link,
                })
                .then((response) => {
                    console.log(response);
                    this.$alert.success({
                        message: 'Thank you for posting!',
                        duration: 6000,
                    });
                })
                .catch((error) => {
                    console.log(error);
                    alert("uh oh");
                });

                axios.post(this.categoriesUrl, {
                    name: this.category,
                });

                this.post_title = null;
                this.post_content = null;
                this.category = null;
                this.trivia = null;
                this.link = null;
            },
        },

        computed: {

        },
    }
</script>

<style>
    .vue-alert {
        opacity: 1;
    }
</style>