<template>
    <div class="register-user">
        <div class="row">
            <div class="col-md-12">
                <h1>User registration form</h1>
                <form v-on:submit.prevent="addUser">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" type="text" v-model="email" required aria-required="true">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Username</label>
                        <input class="form-control" type="text" v-model="username" required aria-required="true">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" v-model="password" required aria-required="true">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div> <!-- /.col -->
        </div> <!-- ./row -->
    </div>
</template>
  
<script>
	import axios from 'axios';

    axios.defaults.headers.common['X-WP-Nonce'] = wp_api_vuejs.nonce;
	
    export default {
        components: {
        	
        },

        mounted() {
            console.log('Component mounted.');
        },

        data() {
        	return {
	        	postsUrl: wp_api_vuejs.api_base_url + '/wp-json/wp/v2/users',
                username: null,
                email: null,
                password: null,
	        	userData: {
                    username: this.username,
                    email: this.email,
                    password: this.password,
                    roles: ["contributor"]
                }
        	}
        },

        methods: {
        	getPosts() {
        		axios.get(this.postsUrl, {params: this.postsData})
        			.then((response) => {
        				this.posts = response.data;
        				//this.configPagination(response.headers);
        			})
        			.catch((error) => {
        				console.log(error);
        			})
        	},
            addUser() {
                axios.post(this.postsUrl, {
                    username: this.username,
                    email: this.email,
                    password: this.password,
                    roles: ["contributor"]
                })
                    .then((response) => {
                        console.log(response);
                        alert("success");
                        window.location.href = wp_api_vuejs.api_base_url + '/createpost';
                    })
                    .catch((error) => {
                        console.log(error);
                        alert("uh oh");
                    })
            }
        },

        computed: {

        },
    }
</script>