<template>
    <div class="home-container">
    	<table class="table is-bordered">
    		<thead>
    			<tr>
    				<th>Title</th>
                    <th>Content</th>
                    <th>Trivia</th>
                    <th>Link</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr v-for="post in posts">
    				<td>{{ post.title.rendered }}</td>
                    <td>{{ post.content.rendered }}</td>
                    <td>{{ post.trivia | first }}</td>
                    <td>{{ post.link | first }}</td>
    			</tr>
    		</tbody>
    	</table>
    	<pagination 
    		:pagination="pagination"
			@prev="postsData.page--; getPosts();"
			@next="postsData.page++; getPosts();">		
		</pagination>
        <div class="links" v-if="loggedIn">
            <a class="btn btn-primary" href="/register">Add a user</a> <br><br>
            <a class="btn btn-primary" href="/createpost">Create a post (quick add)</a>
        </div>
    </div>
</template>
  
<script>
	import axios from 'axios';
	import pagination from './pagination.vue'
    export default {
        components: {
        	'pagination': pagination
        },

        filters: {
            first: function (values) {
                if (Array.isArray(values)) {
                    return values[0];
                }

                return values;
            },
        },

        mounted() {
            console.log('Component mounted.');
            this.getPosts();
        },

        data() {
        	return {
	        	postsUrl: wp_api_vuejs.api_base_url + '/wp-json/wp/v2/posts',
	        	posts: [],
	        	postsData: {
	        		per_page: 10,
	        		page: 1,
	        	},
	        	pagination: {
	        		prevPage: '',
	        		nextPage: '',
	        		totalPages: '',
	        		from: '',
	        		to: '',
	        		total: '',
	        	},
                loggedIn: wp_api_vuejs.user_logged_in,
        	}
        },

        methods: {
        	getPosts() {
        		axios.get(this.postsUrl, {params: this.postsData})
        			.then((response) => {
                        console.log(response.data);
        				this.posts = response.data;
        				this.configPagination(response.headers);
        			})
        			.catch((error) => {
        				console.log(error);
        			})
        	},

        	configPagination(headers) {
        		this.pagination.total = +headers['x-wp-total'];
        		this.pagination.totalPages = +headers['x-wp-totalpages'];
        		this.pagination.from = this.pagination.total ? ((this.postsData.page -1) * this.postsData.per_page) + 1 : ' ';
        		this.pagination.to = (this.postsData.page * this.postsData.per_page) > this.pagination.total ? this.pagination.total : this.postsData.page * this.postsData.per_page;
        		this.pagination.prevPage = this.postsData.page > 1 ? this.postsData.page : '';
        		this.pagination.nextPage = this.postsData.page < this.pagination.totalPages ? this.postsData.page + 1 : '';
        	}
        }
    }
</script>